In [1]:
sc

In [2]:
sqlContext

In [3]:
!ls

01_Spark_ML_tutorial.ipynb  eightieth.h5  Spark Configuration.ipynb

In [19]:
import pandas as pd

In [4]:
import h5py
f = h5py.File("eightieth.h5", 'r')

In [5]:
picture, labels = f["S2"], f["TOP_LANDCOVER"]

In [22]:
%%time
ims = list()
lbls = list()

for i in range(picture.shape[0]):
    im = picture[i,::]
    lbl = labels[i]
    
    ims.append(im)
    lbls.append(lbl)

CPU times: user 53.8 s, sys: 521 ms, total: 54.3 s
Wall time: 54.3 s

      0
0  12.0

In [10]:
data = sc.parallelize(zip(ims, lbls))

In [15]:
data.collect()

[(array([[[  697.,   930.,   974.,  2660.],
          [  582.,   882.,   924.,  2573.],
          [  551.,   860.,   883.,  2644.],
          ...,
          [ 1038.,  1066.,  1090.,  2389.],
          [  799.,   962.,   988.,  2423.],
          [ 1066.,  1088.,  1126.,  2528.]],

         [[  578.,   849.,   917.,  2545.],
          [  523.,   859.,   895.,  2680.],
          [  492.,   825.,   880.,  2774.],
          ...,
          [  959.,  1027.,  1081.,  2425.],
          [  810.,   962.,   995.,  2354.],
          [  722.,   924.,   966.,  2459.]],

         [[  568.,   834.,   898.,  2390.],
          [  538.,   851.,   899.,  2666.],
          [  500.,   835.,   875.,  2712.],
          ...,
          [  820.,   990.,  1027.,  2531.],
          [  719.,   922.,   984.,  2386.],
          [  586.,   871.,   891.,  2716.]],

         ...,
         [[  501.,   868.,   883.,  2721.],
          [  520.,   847.,   877.,  2927.],
          [  701.,   936.,   972.,  2793.],
          ...,
          [  603.,   898.,   920.,  2609.],
          [  632.,   906.,   938.,  2567.],
          [  641.,   890.,   933.,  2698.]],

         [[  491.,   829.,   871.,  2868.],
          [  562.,   864.,   891.,  2880.],
          [  784.,   971.,  1007.,  2735.],
          ...,
          [  577.,   883.,   910.,  2810.],
          [  681.,   923.,   943.,  2765.],
          [  622.,   915.,   917.,  2748.]],

         [[  577.,   855.,   909.,  2777.],
          [  558.,   827.,   889.,  2492.],
          [  584.,   828.,   898.,  2533.],
          ...,
          [  519.,   854.,   866.,  3064.],
          [  677.,   950.,   953.,  2959.],
          [  630.,   925.,   925.,  2664.]]], dtype=float32),
  array([ 12.], dtype=float32))]

In [13]:
picture.shape[0]

234000